.category-pill {
    font-family: "DM Sans", sans-serif;
    letter-spacing: 1px;
    background-color: #e5edff;
    color: #625ab0;
    padding: 8px 20px;
    border-radius: 35px;
    position: absolute;
    top: -22px;
    border: 4px solid white;
    font-size: 14px;
    font-weight: bold;
}

.header-nav {
    font-family: "DM Sans", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px;
}

.header-nav .nav-main .header__menu li a {
    color: #4f4f4f;
    transition: background 0.2s ease;
    font-size: 15px;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-top: 2px;
}
.header-nav .header__search input {
    border: none;
    border-radius: 0;
    font-size: 14px;
    color: #6c6f76;
    transition: none;
    background-color: #7cb9e578;
}
.header-nav .header__search input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #e21d1d1a;
}
.header-nav .header__search button {
    border: none;
    height: 35px;
    width: 45px;
    border-radius: 50%;
    background: none;
}

.site-header .header__logo h1 {
    text-transform: uppercase;
    font-family: "hanfont", sans-serif;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 3px;
    color: #7a5933;
}

.site-header .tagline {
    font-family: "hanfont", sans-serif;
    font-size: 20px;
    margin-top: 15px;
    color: #7a5933;
}
.site-header .tagline span {
    background-color: #7fffd421;
    color: #036c49;
    letter-spacing: 1px;
    padding: 0 5px;
    font-size: 14px;
    font-weight: 600;
}

.header-carousel {
    padding: 0 5%;
}
.header-carousel .carousel-content .item img {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.wrap {
    min-height: 500px;
    max-width: 1280px;
    margin: 70px auto 20px;
    padding-bottom: 40px;
}

.latest-post .latest-post-article {
    padding: 0;
    border: none;
}
.latest-post .latest-post-article .article-header {
    padding: 33px 20px 20px 25px;
}
.latest-post .latest-post-article .article-header .article-category {
    position: relative;
    top: -34px;
}
.latest-post .latest-post-article .article-header a {
    text-decoration: none;
}
.latest-post .latest-post-article .article-header a h2 {
    color: #161d2e;
    font-weight: 900;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 18px;
}
.latest-post .latest-post-article .article-header a p {
    font-weight: 400;
    color: #888d99;
    font-size: 16px;
}
.latest-post .latest-post-article .article-footer {
    text-align: right;
    padding: 15px 20px;
    background: white;
    border-top: 1px solid rgba(177, 177, 177, 0.13);
}
.latest-post .latest-post-article .article-footer .footer_inside {
    font-family: "DM Sans", sans-serif;
    letter-spacing: 1px;
}
.latest-post .latest-post-article .article-footer .footer_inside a {
    color: #48ae8c;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.sidebar .sidebar-inside {
    position: sticky;
    top: 20px;
}
.sidebar .sidebar-inside .sidebar-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.sidebar .sidebar-inside .sidebar-section h2 {
    color: #161d2e;
    font-weight: 900;
    font-size: 33px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.sidebar .sidebar-inside .sidebar-section ul {
    padding-left: 0;
    list-style-type: none;
    margin-top: 37px;
}
.sidebar .sidebar-inside .sidebar-section ul .post-list-item {
    list-style-type: none;
}
.sidebar .sidebar-inside .sidebar-section ul .post-list-item a {
    text-decoration: none;
    color: #2e2f33;
}
.sidebar .sidebar-inside .sidebar-section ul .post-list-item a .sidebar-post {
    border: none;
    margin-bottom: 22px;
}
/**/
.sidebar
    .sidebar-inside
    .sidebar-section
    ul
    .post-list-item
    a
    .sidebar-post
    .sidebar-post-title
    .card-body {
    padding: 0;
}
.sidebar
    .sidebar-inside
    .sidebar-section
    ul
    .post-list-item
    a
    .sidebar-post
    .sidebar-post-title
    .card-body
    h3 {
    font-weight: 600;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 18px;
    color: #161d2e;
}
.sidebar
    .sidebar-inside
    .sidebar-section
    ul
    .post-list-item
    a
    .sidebar-post
    .sidebar-post-title
    .post-view {
    margin-top: 0;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: gray;
    background-color: antiquewhite;
    padding: 4px;
}

.icon_style {
    width: 40px;
    height: 40px;
    background: #fef1db;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
}

/*  ******************** Highlights **************************** */

.highlights {
    margin-top: 40px;
    padding-top: 80px;
    background-color: #F7EEE0;
}

.highlights .post-list-section {
    padding: 0 2px 50px;
}

.highlights .post-list-section h2,
.highlights .post-list-section .h2 {
    text-align: center;
}

.highlights .post-list-section ul {
    padding: 20px;
}

.highlights .post-list-section ul .post-list-item {
    list-style-type: none;
    padding: 30px 0;
}

.highlights .post-list-section ul .post-list-item a {
    text-decoration: none;
    color: #2e2f33;
}

.highlights .post-list-section ul .post-list-item a img {
    width: 65px;
    height: 65px;
    border-radius: 50px;
}

.highlights .post-list-section ul .post-list-item a h3,
.highlights .post-list-section ul .post-list-item a .h3 {
    font-size: 17px;
    font-weight: 300;
    color: #161d2e;
}

.highlights .post-list-section ul .post-list-item a .col-8 {
    padding-left: 0;
}

.highlights .post-list-section ul .post-list-item a .post-view {
    font-size: 12px;
    color: #9497a1;
}

.highlights .post-list-item .col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  ********************End of highlights ******************************* */

/*============================================================*/
.post-list-item {
    list-style-type: none;
}
.post-list-item a {
    text-decoration: none;
}
.post-list-item a .sidebar-post {
    border: none;
    margin-bottom: 22px;
}
.post-list-item a .sidebar-post .sidebar-post-title {
    position: relative;
}
.post-list-item a .sidebar-post .sidebar-post-title .card-body {
    padding: 0;
}
.post-list-item a .sidebar-post .sidebar-post-title .card-body h5 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.5;
    margin-left: 18px;
    color: #4d4d4d;
}
.post-list-item a .sidebar-post .sidebar-post-title .post-view {
    margin-top: 0;
    font-size: 11px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: gray;
    background-color: antiquewhite;
    padding: 4px;
}

.site-header {
    background-color: #fffbe8;
    background-image: url(./images/donate.png);
    background-position: bottom;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
    /*color: #eee9e9 !important;*/
}

.sidebar .sidebar-inside {
    position: sticky;
    top: 20px;
}
.sidebar .sidebar-inside .sidebar-section {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.entry {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    line-height: 30px;
}

.entry-content {
    padding-top: 10px;
}

.entry-content h2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 17px;
}
#entry img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

#entry a {
    text-decoration: none;
}

#entry a:hover {
    color: #05a95c;
}

#entry blockquote {
    padding: 8px 10px;
    margin: 0 0;
    border-left: 3px solid rgba(0, 0, 0, 0.1);
}

#entry p {
    margin-top: 10px;
}


#entry ul > li {
    margin: 5px 0;
}

.post-title {
    font-size: 30px;
    color: #262d3d;
    text-align: center;
    font-weight: 900 ;
    font-family: "Montserrat", sans-serif;
}

.entry .entry-header {
    padding: 30px;
}

.entry .entry-body {
    padding: 10px 30px 0 30px;
}
/*==================================*/

.related-post-title a {
    color: #4d4d4d;
    text-decoration: none;
    transition: all 0.3s;
}

.related-post-title h2 {
    margin: 0;
    font-size: 16px;
}

/* **************Footer *************** */

.footer_wrap {
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

/*Responsive*/
@media (min-width: 1024px) {
    .footer_wrap {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 640px) {
    .footer_wrap {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.footer_nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_nav a {
    color: #6b728b;
    font-weight: 600;
    text-decoration: none;
}

.footer_contact_logo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
}

.footer_contact_logo a {
    color: #9ca2af;
}

.footer_wrap p {
    color: #9ca2af;
    margin-top: 2rem;
    font-size: 14px;
}
/* **************Footer end *************** */

/* Post Page */
.post-page-nav {
    background-color: #a3ddd0;
    padding: 30px;
}
